<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}

<body>
  <article class="posts">
    <div class="row">
      <div class="col-xs-12">
        {{ partial "header.html" . }}
        <div class="cate">
          <div class="posts-line"><a href="/categories/技术/">技术</a></div>
          <div class="posts-line"><a href="/categories/随笔/">随笔</a></div>
        </div>
        {{ if .Data.Term}}
          <h1 class="taxonomy-term">正在查看【{{.Data.Term}}】文章</h1>
        {{ end }}
        <div id="posts-list">
          {{ range (where .Data.Pages "Type" "in" site.Params.mainSections).GroupByDate "2006" -}}
          <section>
            <h1 class="site-date-catalog">{{ .Key }}</h1>

            {{ range .Pages }}
            <div class="posts-line">
              <a href="{{ .RelPermalink }}">
                <div class="posts-date">
                  <time datetime="{{ .Date.Format " 2006-01-02 15:04:05 MST" }}">{{ .Date.Format "01-02"}}</time>
                </div>
                <div class="posts-title">
                  {{ .Title }}
                </div>
              </a>
            </div>
            {{ end }}
          </section>
          {{ end }}
        </div>

        {{ partial "footer.html" . }}
      </div>
    </div>
  </article>

  {{ partial "scripts.html" . }}
</body>

</html>