 {{ partial "header.html" . }}
  <article class="post">
    <div class="post-box">
      <div class="post-header">
        <h1 class="post-title">{{ .Title }}</h1>
      </div>

      <section class="resume-section markdown-body">
        <div class="my-auto">
          <form action="{{ " search" | absURL }}">
            <input autocomplete="off" id="search-query" name="s" />
          </form>
          <div id="search-results">
            <h3>Matching pages</h3>
          </div>
        </div>
      </section>
      <script id="search-result-template" type="text/x-js-template">
            <div class="search-list" id="search-list-${key}">
              <a href="${link}">
                <h4>${title}</h4>
                <p class="summary">${snippet}</p>
                ${ isset tags }<p>Tags: ${tags}</p>${ end }
                ${ isset categories }<p>Categories: ${categories}</p>${ end }
              </a>
            </div>
        </script>


    </div>
    {{ partial "footer.html" . }}
  </article>


  {{ partial "scripts.html" . }}
  {{ if .Site.Params.extraBody }}
  {{ .Site.Params.extraBody | safeHTML }}
  {{ end }}
  <script src="{{ .Site.Params.staticPrefix }}{{ "js/fuse.min.js" | relURL }}"></script>
  <script src="{{ .Site.Params.staticPrefix }}{{ "js/jquery.mark.min.js" | relURL }}"></script>
  <script src="{{ .Site.Params.staticPrefix }}{{ "js/search.js" | absURL }}"></script>
  <script>
    $(function () {
      $('#search-query').focus();
    })
  </script>
</body>

</html>