{{ partial "header.html" . }}
<article>
  <div class="post-box">
    <div class="post-header">
      <h1 class="post-title">{{ .Title }}</h1>
      {{ if in .Site.Params.mainSections .Type }}
      <div class="post-desc">
        <div class="post-date">
          {{ if .Date }}
          <time datetime="{{ .Date.Format " 2006-01-02 15:04:05 MST" }}">
            发布于 {{ .Date.Format "2006-01-02" }}
          </time>
          {{ end }}
          浏览: <span id="ArtalkPV">加载中...</span>
          评论: <span id="ArtalkCount"></span>
        </div>
      </div>
      {{ end }}
    </div>
    <div class="post-content markdown-body">
      <div class="autoMenu" id="autoMenu" data-autoMenu></div>
      {{ .Site.Params.postHeaderContent | safeHTML }}
      {{ .Content }}
    </div>

    {{ range .Params.tags }}
    <div class="post-tags">
      <a href="{{ site.LanguagePrefix }}/tags/{{ lower . | urlize }}/">
        {{ . }}
      </a>
    </div>
    {{ end }}
    {{ if in .Site.Params.mainSections .Type }}
    <div>
      <div>
        {{ .Site.Params.postFooterContent | safeHTML }}
      </div>
    </div>

    {{ partial "related.html" . }}

    {{ if .Site.Params.postAds }}
    <div class="post-ads">{{ .Site.Params.postAds | safeHTML }}</div>
    {{ end }}
  </div>
  <!-- split -->

  <div class="post-box">
    <div class="post-comments">
      {{ partial "comment.html" . }}
    </div>
    {{ end }}
  </div>
  {{ partial "footer.html" . }}
</article>

{{ partial "scripts.html" . }}
{{ if .Site.Params.extraBody }}
{{ .Site.Params.extraBody | safeHTML }}
{{ end }}

</body>

</html>