<div class="footer">
  <div>
    © 2020-<span id="year"></span> ·
    <a href="https://beian.miit.gov.cn/" target="_blank">
      <span>{{ .Site.Params.beian }}</span>
    </a>
    · 网站运行: <span id="days">0</span> 天
  </div>
  <div class="utool">
    <div class="item setting">
      <span>设置</span>
      <div class="box">
        <p>字体风格</p>
        <ul id="ulid">
          <li>霞鹜文楷</li>
          <li>OPPOSans</li>
        </ul>
        <p>字体大小</p>
        <ul id="ulfz">
          <li>小一点</li>
          <li>大一点</li>
        </ul>
      </div>
    </div>
    <div class="item totop">
      <span>top</span>
    </div>
  </div>
</div>
<script>
  var s0 = '{{ .Site.Params.buildDate }}';
  s1 = new Date(s0.replace(/-/g, "/"));
  s2 = new Date();
  var days = s2.getTime() - s1.getTime();
  var number_of_days = parseInt(days / (1000 * 60 * 60 * 24));
  document.getElementById('days').innerHTML = number_of_days;

  var date = new Date;
  var year = date.getFullYear();
  document.getElementById('year').innerHTML = year;
</script>