<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body>
  <header>
    <div class="header-item">
      <div class="header-title">
        <a href="/">{{ .Site.Params.title }}</a>
      </div>
      <div class="header-subtitle">https://zburu.com/index.xml</div>
    </div>
    <div class="menu-btn">菜单</div>
    <div class="opacity"></div>
    <div class="sticky">
      <div class="header-item">
        <!-- 导航栏列表 -->
        <ul id="navi">
          <li>
            <a href="/">首页</a>
          </li>
          {{ range .Site.Params.socials }}
          <li>
            <a href="{{ .link }}">{{ .name }}</a>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </header>