{{ $curLanguageName := .Site.Language.LanguageName }}
<div class="progress-bar"></div>
<header>
  <div class="header-title">
    <a href="{{ .Site.LanguagePrefix }}/">{{ .Site.Params.title }}</a>
  </div>
  <div class="header-item">
    <div class="header-subtitle">{{ .Site.Params.description }}</div>
    <!-- 导航栏列表 -->
    <ul>
      {{ range .Site.Params.socials }}
      <li class="header-item">
        <a href="{{ .link }}">{{ .name }}</a>
      </li>
      {{ end }}
    </ul>
  </div>
</header>