{{ partial "header.html" . }}
<article>
  <div id="posts-list">
    <!-- <section> -->
    {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{ $projects := where .Site.RegularPages "Section" "projects" }}
    {{ $pages = .Paginate ($pages) }}
    {{ $archivesPage := first 2 (where .Site.RegularPages "Layout" "eq" "archives") }}

    {{ range $pages.Pages }}
    <div class="posts-line">
      <time class="posts-date" datetime="{{ .Date.Format " 2006-01-02 15:04:05 MST" }}">发布于 {{ .Date.Format "2006年1月2日"}}</time>
      <a class="posts-title" href="{{ .RelPermalink }}">
        <span>{{ .Title }}</span>
      </a>
      <div class="posts-content">
        {{  .Content | truncate 100 }}
      </div>
      <a class="read-more" href="{{ .RelPermalink }}">Read More</a>
    </div>
    {{ end }}
  </div>

  <!-- pagination -->
  {{ partial "pagination.html" . }}
  {{ partial "footer.html" . }}
</article>
{{ partial "scripts.html" . }}
</body>
</html>